.game-specs {
    position: relative;
    top: 1%;
    background-color: black;
    /* padding: 5px; */
}

.text {
    color: white;
    font-size: medium;
}

.description {
    color: white;
    font-size: large;
    text-align: right;
    position: absolute;
    right: 10%;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
}

#icon {
    color: white;
}