.game-specs {
    position: relative;
    top: 1%;
    background-color: rgb(18, 0, 131);
    padding: 10px;
    opacity: 90%;
}

.text {
    color: white;
    font-size: large;
}

.description {
    font-size: large;
    text-align: left;
    position: absolute;
    right: 10%;
    background-color: gold;
    padding: 15px;
    border-radius: 15px;
    opacity: 85%;
}

#icon {
    color: white;
}