.user-column {
    background-color: black;
    border-radius: 15px;
    position: relative;
    bottom: 15px;
}

.user-info {
    color: black;
    border-radius: 5px;
    text-align: left;
    margin: auto;
    margin-left: 20px;
    margin-bottom: 20px;
}

.profile-pic {
    margin: 10px auto;
    width: 50%;
}


.favorite-header {
    color: white;
    background-color: black;
    padding: 10px;
    opacity: 90%;
    position: relative;
    bottom: 15px;
}