@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

.filter-container {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.filter-item {
    flex-grow: 1;
    font-size: large;
    position: relative;
    bottom: 25px;
    color: white;
}

#last {
    position: absolute;
    z-index: -10;
}

.link {
    color: white;
}

.link:hover, .filter-item:hover {
    color: rgb(3, 206, 210);
}

#bgc {
    position: relative;
    bottom: 25px;
}