.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-end; /* this line pushes the titles down but gets buttons at bottom */ 
}

#card-header {

}

#card-image {

    margin: 5% auto;
}

#card-button {

}