.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card-header {
    color: red;
}

#card-image {
    margin-bottom: 5%;
}

#card-button {
    position: absolute;
    bottom: 0;
    left: 0;
}

#game-name {
    color: red;
}

#image {
    margin: auto;
    height: 50%;
}

.title {
    padding: 10px;
}